.incio-usurio-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.incio-usurio-inciousurio {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.incio-usurio-frame1 {
  top: 0px;
  left: 0px;
  width: 1480px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(162, 53, 213, 1);
}
.incio-usurio-text {
  top: 21px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.incio-usurio-navlink {
  display: contents;
}
.incio-usurio-frame21 {
  top: 20px;
  left: 1378px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.incio-usurio-ellipse2 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.incio-usurio-frameiconperson {
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.incio-usurio-vector {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.incio-usurio-frame24 {
  top: 170px;
  left: 337px;
  width: 814px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(162, 53, 213, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.incio-usurio-navlink1 {
  display: contents;
}
.incio-usurio-frame23 {
  top: 116px;
  left: 28px;
  width: 760px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgba(162, 53, 213, 1);
}
.incio-usurio-text02 {
  top: 19px;
  left: 281px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.incio-usurio-navlink2 {
  display: contents;
}
.incio-usurio-frame22 {
  top: 29px;
  left: 26px;
  width: 762px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgba(162, 53, 213, 1);
}
.incio-usurio-text04 {
  top: 19px;
  left: 291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.incio-usurio-navlink3 {
  display: contents;
}
.incio-usurio-frame241 {
  top: 203px;
  left: 26px;
  width: 760px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
  background-color: rgba(162, 53, 213, 1);
}
.incio-usurio-text06 {
  top: 19px;
  left: 257px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.incio-usurio-navlink4 {
  display: contents;
}
.incio-usurio-frame5 {
  gap: 10px;
  top: 568px;
  left: 337px;
  width: 814px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(162, 53, 213, 1);
}
.incio-usurio-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 36px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.incio-usurio-text10 {
  top: 497px;
  left: 336px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
