.listar-minhas-propostas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.listar-minhas-propostas-listarminhaspropostas {
  width: 100%;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.listar-minhas-propostas-frame1 {
  top: 0px;
  left: 0px;
  width: 1480px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(162, 53, 213, 1);
}
.listar-minhas-propostas-text {
  top: 21px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-frame18 {
  top: 20px;
  left: 1374px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.listar-minhas-propostas-ellipse2 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.listar-minhas-propostas-frame17 {
  top: 13px;
  left: 5px;
  width: 49px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.listar-minhas-propostas-polygon1 {
  top: -6px;
  left: 0px;
  width: 49px;
  height: 24px;
  position: absolute;
}
.listar-minhas-propostas-rectangle3 {
  top: 14px;
  left: 11px;
  width: 28px;
  height: 10px;
  position: absolute;
}
.listar-minhas-propostas-rectangle4 {
  top: 24px;
  left: 11px;
  width: 11px;
  height: 10px;
  position: absolute;
}
.listar-minhas-propostas-rectangle5 {
  top: 24px;
  left: 28px;
  width: 11px;
  height: 10px;
  position: absolute;
}
.listar-minhas-propostas-frame13 {
  top: 173px;
  left: 44px;
  width: 1390px;
  height: 118px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.listar-minhas-propostas-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1390px;
  height: 118px;
  position: absolute;
  border-radius: 10px;
}
.listar-minhas-propostas-text02 {
  top: 60px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text04 {
  top: 79px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text06 {
  top: 25px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 56px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text07 {
  top: 21px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text09 {
  top: 41px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text11 {
  top: 47px;
  left: 1320px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-frame15 {
  top: 469px;
  left: 45px;
  width: 1390px;
  height: 118px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.listar-minhas-propostas-rectangle21 {
  top: 0px;
  left: 0px;
  width: 1390px;
  height: 118px;
  position: absolute;
  border-radius: 10px;
}
.listar-minhas-propostas-text13 {
  top: 60px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text15 {
  top: 79px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text17 {
  top: 25px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 56px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text18 {
  top: 21px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text20 {
  top: 41px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text22 {
  top: 47px;
  left: 1320px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-frame14 {
  top: 321px;
  left: 44px;
  width: 1390px;
  height: 118px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.listar-minhas-propostas-rectangle22 {
  top: 0px;
  left: 0px;
  width: 1390px;
  height: 118px;
  position: absolute;
  border-radius: 10px;
}
.listar-minhas-propostas-text24 {
  top: 60px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text26 {
  top: 79px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text28 {
  top: 25px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 56px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text29 {
  top: 21px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text31 {
  top: 41px;
  left: 82px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.listar-minhas-propostas-text33 {
  top: 47px;
  left: 1320px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
